*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sec{
  width: 100vw;
  height: 100vh;
  display: flex ;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1000px){
  .sec{
      flex-direction: row;
      gap: 20px;
  }
}

body{
background-image: linear-gradient(to right, #7591d9, #0e0240);
}

.card {
  position: relative;
  width: 450px;
  height: 350px;
  background-color:   #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}


.card__content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #7591d9, #0e0240);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  justify-content: start;

  gap: 15px;
}



.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 20px;
  color: #777;
  line-height: 1.4;
  font-weight: 700;
}

.dsa img{
  width: 95%;
  height: 85%;
  border-radius: 20px;
}
.hack img{
  width: 95%;
  height: 85%;
  border-radius: 20px;
}
.rsc img{
  width: 95%;
  height: 85%;
  border-radius: 20px;
}

.acm-talks img{
  height: 95%;
  width: 75%;
  border-radius: 20px;
}

.card{
  margin: 5px;
  padding: 5px;
  background-image: linear-gradient(to right, #7591d9, #0e0240);

  overflow-y: scroll;
  scrollbar-width: none; 

}

h1{
  font-family: 'Merienda', cursive;
  color: rgb(6, 6, 93) !important;
}


@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
p{
  font-family: 'Dosis', sans-serif !important;
  color: white !important;
}


button {
  position: relative;
  border: 1px solid #725ac1;
  outline: none;
  background-color: transparent;
  padding: 15px 20px;
  border-radius: 30px;
  z-index: 2;
  cursor: pointer;
  color: #ffff;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #725ac1;
  filter: blur(5px);
  z-index: -1;
  transition: width 0.9s ease-out, height 0.9s ease-out,
    background-color 0.3s ease-out;
  border-radius: 50%;
}

button:hover::before {
  border-radius: 20px;
  width: 200px;
  height: 100px;
  background-color: #4f15ad;
}
